[Desktop Entry]
Name=滴答清单
Exec=/opt/dida/dida --ozone-platform=wayland --enable-features=WaylandWindowDecorations --enable-gpu-rasterization %U
Terminal=false
Type=Application
Icon=dida
StartupWMClass=dida
Comment=滴答清单，一款轻便的待办事项(Todo)、日程管理(GTD)应用，全球逾千万用户的共同选择。它可以帮你制定项目计划、设置会议提醒、 安排行程规划、保持工作专注，还能用于记录备忘、整理购物清单。滴答清单集计划表、备忘录、日程清单、笔记、便签、闹钟、日历、番茄钟、在线协作多种实用功能于一体，是你高效办公、目标管理、习惯养成及便捷生活的得力助手。
Categories=Office;
